.home{
    border: 1px solid green;
}
.container{
    padding: 0 100px;
}
.intro{
    display: flex;
    height: 100vh;
}
.intro-right{
    flex: 6;
    border: 1px solid black;
    padding: 50px 0;

}
.intro-left{
    flex: 6;
}
img{
    width: 100%;
}
.title{
    color: navy;
    font-weight: bolder;
    /* font-size: xx-large; */
}