
.container{
    padding: 0 100px;
}
.intro{
    display: flex;
}
.intro-right{
    flex: 6;
    display: flex;
    align-items: center;

}
.intro-left{
    flex: 6;
    display: flex;
    align-items: center;
}
img{
    width: 100%;
}
.title{
    color: navy;
    font-weight: bolder;
    font-size: 60px;
}
.loream{
    margin: 20px 0;
    font-weight: bold;
}