.side_drawer {
    width: 70%;
    height: 100vh;
    background: #f4f4f4;
    z-index: 200;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(+100%);
    transition: all 1s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.side_drawer.show{
    transform: translateX(0);
}
.drawer_list{
    list-style: none;
}
.drawer_list_item{
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.drawer_list_item:hover{
    background-color: white;
}
.drawer_list_item_name{
    margin-left: 5px;
}