.navbar{
    /* border: 1px solid red; */
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    /* position: sticky; */
    top: 0;
    z-index: 999;
    -webkit-box-shadow: 0px 6px 7px 5px rgba(0,0,0,0.19); 
    box-shadow: 0px 6px 7px 5px rgba(0,0,0,0.19);
}
.logo{
    /* border: 1px dotted black; */
    letter-spacing: 5px;
    color: navy;
}
.link_side{
    /* border: 1px solid pink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}
.link{
    text-decoration: none;
    margin-left: 60px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
.link:hover{
    color: navy;
    /* transition: 1s ease; */
}
.hamburger_menu{
    display: none;
}



@media screen and (max-width: 768px) {
    .hamburger_menu{
        display: flex;
    }
    .link_side{
        display: none;
    }
    .logo{
        font-size: medium;
    }
}